on:
    workflow_dispatch:
        inputs:
            environment:
                description: 'Deployment Environment'
                required: true
                default: 'test'
                type: choice
                options:
                    - "test"
                    - "ver"
                    - "prod"

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 20
            - name: Install dependencies
              run: npm install
            
            - name: Get Widget Web App Key
              id: get_widget_web_app_key
              run: |
                web_app_key=$(az staticwebapp secrets list \
                --name ${{ env.FRONTEND_APP_NAME}} \
                --resource-group ${{ env.RESOURCE_GROUP_NAME }} \
                --query properties.apiKey -o tsv)
                echo "web_app_key=$web_app_key" >> $GITHUB_OUTPUT

            - name: Build project
              env:
                NEXT_PUBLIC_API_BASE_URL: ${{ env.NEXT_PUBLIC_API_BASE_URL }}
              run: |
                npm install
                npm run build

            - name: Deploy Widget Web App
              uses: Azure/static-web-apps-deploy@v1
              with:
                azure_static_web_apps_api_token: ${{ steps.get_widget_web_app_key.outputs.web_app_key }}
                repo_token: ${{ secrets.GITHUB_TOKEN }}
                action: "upload"
                app_location: "/"
                output_location: "out"
                #deployment_environment: ${{ github.event.inputs.environment }}
              env:
                NEXT_PUBLIC_API_BASE_URL: ${{ env.NEXT_PUBLIC_API_BASE_URL }}